details {
    background-color: coral;
    padding: 5px;
    color: white;
    font-size: 15px;
  }
  
  details summary {
    padding: 10px;
    font-size: 25px;
    color: white;
    cursor: pointer;
  }
  details summary:after {
    color: black;
  }
  details > summary {
    list-style-type: ' + ';
}

details[open] > summary {
    list-style-type: ' − ';
}
